div{
    border:0px solid red;
    min-height: 0px;
   
}
body{
    font-family: 'Public Sans', sans-serif;
}
.nav-list-center{
    padding-left: 23rem;
 
}

@media screen and (max-width: 480px){
.nav-list-center{
     padding-left: 0rem;
     text-align: center;
}

    
}
.mybutton{

border-radius: 27px;
height:45px;
display: inline-block;
font-size: 12px;
font-weight: 600;
padding:20px 28px;

text-align: center;
background-color: #83E1AD;
background-image: linear-gradient(to right,#83E1AD,#81D6DD);
margin-left: 12rem;
}


a.mybutton:link{
    color:white;
    text-decoration: none;

}
a.mybutton:visited{
     color:white;
    text-decoration: none;
}

a.mybutton:hover{
    color:white;
}

.nav-bar-text{
    font-size: medium;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 30px;
   color:white;
}
.nav-link-text{
   font-weight: 600;

}
.next-gen{
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 10% 67%;
    height: 650px;

}

.next-gen-phone-bg{
    background-image: url(images/image-mockups.png);
    height:850px;
    background-position: 450% 140% ;
    background-repeat: no-repeat;
    width: 99.91%;
   
    position:absolute; left:1px; 
   

  
}
.next-gen-bg{
    
    background-image: linear-gradient(to bottom #F9F9F9,white );
}

.next-gen-text{
    padding-top:10rem;
    font-size: 58px;
    font-weight: 300;
    color:#3C3F58;
   
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.next-gen-text-2{
    line-height: 50px;
    margin-top:0px;
    padding-top:0px;
    font-size: 58px;
    font-weight: 300;
   color:#3C3F58;
    padding-bottom:16px;
}

.sub-text{
    
    font-size:18px;
    color:#A8A7AD;
    font-weight: 500;
    line-height: 10px;
}

.sub-button{
border-radius: 27px;
height:40px;
display: inline-block;
font-size: 20px;
font-weight: 600;
padding:18px 26px;
margin-top: 2.5rem;
margin-bottom: 2rem;
text-align: center;
background-color: #83E1AD;
background-image: linear-gradient(to right,#83E1AD,#81D6DD);

}

.sub-button-text{
    font-size: medium;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 10px;
   color:white;
}

a.sub-button:visited{
    color:white;
    text-decoration:none;
}
a.sub-button:hover{
    color:white;
    text-decoration:none;

}

.gray-bg{
    background-color:#F1F4FA;
}
.section-name{
    padding-top:4rem;
    color:#3C3F58;
    font-size:35px;
    
}
.easy-bank-text{
    color:  hsl(233, 8%, 62%);
    font-size: 18px;
    font-weight: 500;
}

.my-icon{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.features{
    font-size:23px;
     color:#3C3F58;
     margin-bottom: 2rem;
}
.features-inner-text{
    color: hsl(233, 8%, 62%);
    line-height: 10px;
}

.feature-padding-bottom{
    padding-bottom: 5rem;
}

.article-link{
     color:#3C3F58;
    line-height: 8px;
    font-size: 20px;

}
a.article-link:hover{
    color:#88D6BC;
    text-decoration: none;
}

.card-title{
    font-size: 10px !important;
    color:#BEBDC2;
    padding-bottom: 1rem;
}
.card-text{
    color:#BEBDC2;
    font-size: 14px;
    font-weight: 400;
    line-height: 6px !important;
}

.img-height{
    height: 218px !important;
}

.footer-bg{
    background-color: #2D314E;
}

ul.social-link{
    padding-top: 1rem;
    padding-left: 0px;
}
.social-link{
    
    list-style:none;
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
}
 a.social:hover{
     content: icon;
     
}
a.footer-link:hover{
    color:#88D6BC ;
    text-decoration: none;

}
.footer-link{
    color:white;
    text-decoration:none;
    line-height: 38px;

    
}
.footer-list{
    text-decoration: none;
    list-style: none;
}
.copy-right{
color:#7B7D96;
font-weight: 600;
}

.menu-effect{
    height: 5px;
    background-image: linear-gradient(to right,#83E1AD,#81D6DD);
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-link:hover + .menu-effect{

    display: block;
}


.icon-twitter {
  background: url(images/icon-twitter.svg);
  background-repeat: no-repeat;
  height: 18px;
  width:100%;

  background-size: contain;
  display: block;
}

.icon-twitter:hover {
   filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(810deg) brightness(88%) contrast(60%);
}
.icon-youtube {
  background: url(images/icon-youtube.svg);
  background-repeat: no-repeat;
  height: 20px;
  width:100%;

  background-size: contain;
  display: block;
}

.icon-youtube:hover {
  filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(810deg) brightness(88%) contrast(60%);
}


.icon-pinterest{
  background: url(images/icon-pinterest.svg);
  background-repeat: no-repeat;
  height: 20px;
  width:100%;

  background-size: contain;
  display: block;
}

.icon-pinterest:hover {
  filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(810deg) brightness(88%) contrast(60%);
}


.icon-instagram{
  background: url(images/icon-instagram.svg);
  background-repeat: no-repeat;
  height: 20px;
  width:100%;

  background-size: contain;
  display: block;
}

.icon-instagram:hover {
  filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(810deg) brightness(88%) contrast(60%);
}



.icon-facebook{
  background: url(images/icon-facebook.svg);
  background-repeat: no-repeat;
  height: 20px;
  width:100%;

  background-size: contain;
  display: block;
}

.icon-facebook:hover {
  filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(810deg) brightness(88%) contrast(60%);
}

/* large devices*/
@media only screen and (max-width:525px) 
      {
.next-gen{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;
    /* background-position: 20% 50%; */

}

.next-gen-phone-mobile{
    background-image: url(images/image-mockups.png);
    
    background-size:contain;
   background-position:0% -250%;
        background-repeat: no-repeat;
        height: 540px;
  

  
} 


.next-gen-text{
    padding-top:0rem;
    font-size: 35px;
    font-weight: 300;
    color:#3C3F58;
   margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center !important;
}
.next-gen-text-2{
    line-height: 50px;
    margin-top:0px;
    padding-top:0px;
    font-size: 35px;
    font-weight: 300;
   color:#3C3F58;
    padding-bottom:10px;
    text-align: center !important;
}

.sub-text{
    
    font-size:13px;
    color:#A8A7AD;
    font-weight: 500;
    line-height: 20px;
     text-align: center !important;
   
}
.center{
     display: flex;
  justify-content: center;
  align-items: center;
}


.sub-button{
border-radius: 27px;
height:40px;
display: inline-block;
font-size: 20px;
font-weight: 600;
padding:18px 26px;
margin-top: 2.5rem;
margin-bottom: 2rem;
text-align: center;
background-color: #83E1AD;
background-image: linear-gradient(to right,#83E1AD,#81D6DD);


}

.sub-button-text{
    font-size: medium;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 10px;
   color:white;
}

.section-name{
    padding-top:4rem;
    color:#3C3F58;
    font-size:35px;
    text-align: center;
}

.easy-bank-text{
    color:  hsl(233, 8%, 62%);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.my-icon{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.mobile-center{
    text-align: center;
}


.features{
    font-size:23px;
     color:#3C3F58;
     margin-bottom: 1rem;
     text-align: center;
}
.features-inner-text{
    color: hsl(233, 8%, 62%);
    line-height: 10px;
    text-align: center;
}

.feature-padding-bottom{
    padding-bottom: 5rem;
}

ul.social-link{
    padding-top: 0rem;
    padding-left: 0px;
    text-align: center !important;
    
}
.social-link{
    
    list-style:none;
    text-decoration: none;
    display: inline-block;
    padding-right: 0px;
 

}

.footer-link{
    color:white;
    text-decoration:none;
    line-height: 33px;
    

    
}

.footer-list{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-top:0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.copy-right{
color:#7B7D96;
font-weight: 500;
text-align: center;
}

.mobile-text{
    font-size: 15px;
}
.mobile-title{
    font-size: 21px;
}
   
    }


@media only screen 
    and (device-width: 414px) 
    and (device-height: 736px) 
    and (-webkit-device-pixel-ratio: 3)  {
    .next-gen{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;
    /* background-position: 20% 50%; */

}

.next-gen-phone-mobile{
    background-image: url(images/image-mockups.png);
    
    background-size:contain;
     background-position:0% -200%;
        background-repeat: no-repeat;
        height: 540px;
  
   
   

  
} 


.next-gen-text{
    padding-top:1rem;
    font-size: 35px;
    font-weight: 300;
    color:#3C3F58;
   margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center !important;
}
.next-gen-text-2{
    line-height: 50px;
    margin-top:0px;
    padding-top:0px;
    font-size: 35px;
    font-weight: 300;
   color:#3C3F58;
    padding-bottom:10px;
    text-align: center !important;
}

.sub-text{
    
    font-size:13px;
    color:#A8A7AD;
    font-weight: 500;
    line-height: 20px;
     text-align: center !important;
   
}
.center{
     display: flex;
  justify-content: center;
  align-items: center;
}


.sub-button{
border-radius: 27px;
height:40px;
display: inline-block;
font-size: 20px;
font-weight: 600;
padding:18px 26px;
margin-top: 2.5rem;
margin-bottom: 2rem;
text-align: center;
background-color: #83E1AD;
background-image: linear-gradient(to right,#83E1AD,#81D6DD);


}

.sub-button-text{
    font-size: medium;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 10px;
   color:white;
}

.section-name{
    padding-top:4rem;
    color:#3C3F58;
    font-size:35px;
    text-align: center;
}

.easy-bank-text{
    color:  hsl(233, 8%, 62%);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.my-icon{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.mobile-center{
    text-align: center;
}


.features{
    font-size:23px;
     color:#3C3F58;
     margin-bottom: 1rem;
     text-align: center;
}
.features-inner-text{
    color: hsl(233, 8%, 62%);
    line-height: 10px;
    text-align: center;
}

.feature-padding-bottom{
    padding-bottom: 5rem;
}

ul.social-link{
    padding-top: 0rem;
    padding-left: 0px;
    text-align: center !important;
    
}
.social-link{
    
    list-style:none;
    text-decoration: none;
    display: inline-block;
    padding-right: 0px;
 

}

.footer-link{
    color:white;
    text-decoration:none;
    line-height: 33px;
    

    
}

.footer-list{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-top:0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.copy-right{
color:#7B7D96;
font-weight: 500;
text-align: center;
}

.mobile-text{
    font-size: 15px;
}
.mobile-title{
    font-size: 21px;
}
   
    
}

/* mobile screen  */
@media only screen and (max-width:400px ) {

    .next-gen{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    
    height: 320px;
    /* background-position: 20% 50%; */

}

.next-gen-phone-mobile{
    background-image: url(images/image-mockups.png);
    
    background-size:contain;
     background-position:0% -55%;
        background-repeat: no-repeat;
        height: 540px;
  
   
   

  
} 


.next-gen-text{
    padding-top:1rem;
    font-size: 35px;
    font-weight: 300;
    color:#3C3F58;
   margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center !important;
}
.next-gen-text-2{
    line-height: 50px;
    margin-top:0px;
    padding-top:0px;
    font-size: 35px;
    font-weight: 300;
   color:#3C3F58;
    padding-bottom:10px;
    text-align: center !important;
}

.sub-text{
    
    font-size:13px;
    color:#A8A7AD;
    font-weight: 500;
    line-height: 20px;
     text-align: center !important;
   
}
.center{
     display: flex;
  justify-content: center;
  align-items: center;
}


.sub-button{
border-radius: 27px;
height:40px;
display: inline-block;
font-size: 20px;
font-weight: 600;
padding:18px 26px;
margin-top: 2.5rem;
margin-bottom: 2rem;
text-align: center;
background-color: #83E1AD;
background-image: linear-gradient(to right,#83E1AD,#81D6DD);


}

.sub-button-text{
    font-size: medium;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 10px;
   color:white;
}

.section-name{
    padding-top:4rem;
    color:#3C3F58;
    font-size:35px;
    text-align: center;
}

.easy-bank-text{
    color:  hsl(233, 8%, 62%);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.my-icon{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.mobile-center{
    text-align: center;
}


.features{
    font-size:23px;
     color:#3C3F58;
     margin-bottom: 1rem;
     text-align: center;
}
.features-inner-text{
    color: hsl(233, 8%, 62%);
    line-height: 10px;
    text-align: center;
}

.feature-padding-bottom{
    padding-bottom: 5rem;
}

ul.social-link{
    padding-top: 0rem;
    padding-left: 0px;
    text-align: center !important;
    
}
.social-link{
    
    list-style:none;
    text-decoration: none;
    display: inline-block;
    padding-right: 0px;
 

}

.footer-link{
    color:white;
    text-decoration:none;
    line-height: 33px;
    

    
}

.footer-list{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-top:0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.copy-right{
color:#7B7D96;
font-weight: 500;
text-align: center;
}

.mobile-text{
    font-size: 15px;
}
.mobile-title{
    font-size: 21px;
}
    
}